@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Russo One', sans-serif; 
}
/* header and navigation */
.logo{
    font-size:xx-large;
    padding: 0px;
    font-weight: bolder;
}

.psychology{
    font-size: xx-large;
}

h1{
    border-bottom: 3px solid #05386b;
}

.blog h1{
    border-bottom: 3px solid #5CDB95;
}

.logo, li, a, button{ 
    text-decoration: none;
    padding: 10px;
    color: #05386b;
}

header{
    height: 70px;
    background-color: #5CDB95;
    width: 100%;
    z-index: 18;
}

.nav-header{
    display: flex;
    justify-content: space-between ;
    
}

.nav-link{
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 20px;
    
}

ul li a .material-icons{
    color: 05386b;
    position: relative;
    top: 4px;
    padding-right: 3px;
}

/* profile section */
.profile{
    margin-top: 1rem;
}


img{
    width: 250px;
    height: 250px;
    padding-right: 10px;
    border-radius: 20rem;
    margin-bottom: 2rem;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50rem;
    margin: auto;
    height: 50rem;
    text-align: center;
    font-family: arial;
  }
  
.title {
    color: grey;
    font-size: 18px;
    margin: 1rem 0rem 1rem 0rem;
  }
  
  .contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin: 1rem 0rem 1rem 0rem;

  }
  
.info {
    text-decoration: none;
    font-size: 22px;
    color: #05386b;
  }
  
  .contact:hover, a:hover {
    opacity: 0.7;
  }

  .form-feilds{
      text-align: left;
      padding: 1rem;
  }

  input{
      width: 20rem;
      height: 2rem;
  }
  
  textarea{
      width: 30rem;
  }